@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@font-face {
  font-family: "RoadRadio";
  src: local("Road Radio Bold"), local("Road-Radio-Bold"),
    url("../fonts/RoadRadio-Bold.woff2") format("woff2"),
    url("../fonts/RoadRadio-Bold.woff") format("woff"),
    url("../fonts/RoadRadio-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
